<%- include("include/_header")%>
<body>
    <main id="site-main">
        <div class="container">
            <main class="box-nav-d-flex-justify-between">

                <form method='POST' id="updateTask">

                    <div class="form-row">
                        <input type="text" name="matter" value="<%=task.matter%>" class="form-control form-control-sm"
                            id="case" placeholder="Case / Matter">
                        <input type="hidden" name="id" value="<%= task._id %>">
                        <input type="text" name="task" value="<%= task.task %>" class="form-control form-control-sm"
                            id="task" placeholder="Task">
                    </div>
                    <div class="form-row">
                        <input type="text" name="notes" value="<%= task.notes %>" class="form-control form-control-sm"
                            id="notes" placeholder="Notes">
                        <p>Deadline</p>
                        <input type="date" name="deadline" value="<%= task.deadline %>"
                            class="form-control form-control-sm" id="date" placeholder="Deadline">
                    </div>

                    <select class="form-control form-control-sm" name="priority" value="<%= task.priority %>">
                        <option></option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                    <button type="submit" id="updateTask" nsubmit="setTimeout(function(){window.location.reload();},10);">Update Task</button>
                </form>
                <a href="http://localhost:3000/">To Do List</a>
            </main>
         <script>
$("#updateTask").submit(function(event){
    event.preventDefault();

    var unindexedArray = $(this).serializeArray();
    var data = {}


    $.map(unindexedArray, function (n,i){
        data[n['name']] = n['value']
})

console.log(data);

const request = {
    'url':`http://localhost:3000/api/tasks/${data.id}`,
    "method":"PUT",
    "data": data
    }
    $.ajax(request).done(function(response){
        alert("Data updated successfully");
        
})

})

console.log(url)








         </script>      
</body>

</html>