<!--Show-->

<% for(var i=0;i<tasks.length;i++){%>

<tr>   
     <th style="width: 2%" id="Checkbox" class="align-middle" scope="row"><input type="checkbox"></th>
     <td style="background-color: #F6f6f2; font-weight: 900" id="priority"style="width: 8%"> <%= tasks[i].priority %></td>
     <td style="width: 15%" class="font=weight-bold"><span><%= tasks[i].matter %></span></td>
     <td style="font-weight: 900""width: 35%"><span><%= tasks[i].task %></span></td>
     <td style="width: 25%"><%= tasks[i].notes %></td> 
    <td style="font-weight: 900" style="width: 10%"><%= tasks[i].deadline %></td>
    <td style="width: 2%; justify-items: end">
        <a id="updateTask" href="/updateTask/?id=<%= tasks[i]._id%>"><i class="bi bi-pencil-fill"></i></a>
    </td>
   </tr>
<%}%>




    </tbody>
<!--/Show-->
<script>


document.getElementById('#checkbox').addEventListener('click', function (evt) {
  var element = evt.target;

  if (element.type !== 'checkbox') { return; }
  element.parentElement.classList.toggle('strikeOut');
});
</script>

